* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
  transform: translateY(800%);
  margin-left: 3rem;
}

body {
  position: relative;
  font-family: 'Langar', cursive;
  transition: all 0.5s ease;
  transform-origin: top left;
  overflow-x: hidden;
}

.img-responsive {
  width: 67rem;
  display: block;
  height: 37rem;
  object-fit: cover;
  border-radius: 10px;
}

.rotate-info {
  line-height: 1.6;
  width: 80%;
  text-align: justify;
}

.rotate-subtitle {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2rem;
}

.rotate-ball {
  position: fixed;
  top: 0;
  left: 0;
  background: coral;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  transition: all 0.5s ease;
  transform: translateY(-120px) translateX(-40px);
}

.fa-times {
  color: white;
  font-size: 2rem;
  transform: translateX(80px) translateY(220px);
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa-align-center {
  color: white;
  font-size: 2rem;
  transform: translateX(70px) translateY(150px);
  text-align: center;
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* rotiram stranu */

.rotate-left {
  transform: rotate(-10deg);
}

/* rotacija za default dugme */

.right {
  transform: translateX(80px) translateY(-60px);
}

/* rotacija za close dugme */

.left {
  transform: translateX(90px) translateY(160px);
}

.fa-align-center-up {
  transform: translateY(-100px) rotate(-100deg);
}

.nav {
  position: fixed;
  top: 0;
  left: -10%;
  line-height: 5;
  background: #333;
  padding: 2rem;
  height: 120vh;
  width: 10%;
}


/* moglo se jos lakse uraditi da sam stavio jos jedan div za dugmad i da sam ih tu postavio absolute, umesto sto sam gadjao bezveze sa transform:translate */ 